<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
<script type="module" src="https://esm.run/@material/web/icon/icon.js"></script>

<header class="header">
  <nav class="flex-row flex-space-between no-decoration">
    <div class="header-logo">
      <a class href="/">{{ site.Title }}</a>
    </div>
    <div class="header-menu">
      {{- range site.Menus.main }}
        <a href="{{ .URL }}" class="menu-item">
          {{- if .Params.icon }}
            <md-icon>{{ .Params.icon }}</md-icon>
          {{- end }}
        </a>
      {{- end }}
    </div>
  </nav>
</header>
